# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Envs
.venv/
venv/
.env
.env.*

# Build & dist
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Misc
*.sqlite3
*.log

