OPENAI_API_KEY=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SCHEMA=scholar

EMBEDDING_MODEL=intfloat/multilingual-e5-large
EMBEDDING_DIM=1024
SIMILARITY_THRESHOLD=0.3
JOURNAL_IMPACT_WEIGHT=0.2
KEYWORD_WEIGHT=0.3
KEYWORD_LANGUAGE_PRIORITY=ko,en
TOP_K=5
MAX_FAISS_DISTANCE=15.0
RETRIEVER_LIMIT=20
RAG_TEMPERATURE=0.4
RAG_MAX_TOKENS=500

